
<% if current_user %>
Balance in Wallet: <%= @balance %> $

Top Up:

<form action='/charges/new' method='get'>
	<input type='text' name='amount' placeholder="TopUp Ammount">
	<input type='submit'>
</form>
 <br>
Withdraw:
<form action='/withdrawls' method='post'>
	<input type='text' name='amount' placeholder="Withdrawl Ammount">
	<input type='submit'>
</form>
<br>
Transaction:
<form action='/transactions' method='post'>
  <input type='text' name='recipient_id' placeholder="Recipient Email">
  <input type='text' name='amount' placeholder="Ammount">
  <input type='submit'>
</form>

    <% else %>
	 Please log in 

	 <% end %>